﻿@model InternetAuction.ViewModels.LoginViewModel
 
<h2>Login to the application</h2>
<form style="width: 300px" method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
    <div class="form-group">
        <label asp-for="Login"></label><br />
        <input class="form-control" asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="RememberMe"></label><br />
        <input class="form-check" asp-for="RememberMe" />
    </div>
    <div class="form-group">
        <input class="btn btn-sm btn-primary" type="submit" value="Login" />
    </div>
</form>