﻿@model InternetAuction.ViewModels.RegisterViewModel
<h2>Register new user</h2>
<form style="width: 300px" method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="alert-danger"></div>
    <div class="form-group">
        <label asp-for="Login"></label><br />
        <input class="form-control" asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm"></label><br />
        <input class="form-control" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-sm btn-success" type="submit" value="Register" />
    </div>
</form>