﻿@model InternetAuction.Models.Lot
@{
    ViewBag.Title = "Lot edit";
    Layout = "_Layout";
}

<h2>Edit and click "Save"</h2>
<form method="post" asp-antiforgery="true" asp-controller="Lot" asp-action="Edit" enctype="multipart/form-data">
	<div class="validation" asp-validation-summary="ModelOnly"></div>
	<div class="form-group mb-3">
		<label class="form-label d-flex" for="image">Choose image</label>
		<input accept="image/*" class="form-control mb-3" style="width: 300px" type="file" name="image" id="image" onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])"/>
		<img class="img-fluid" width="300px" height="300px" src="@("/images/" + (Model.Img ?? "noimage.png"))" id="preview" alt="Ваша картинка"/>
	</div>
	<div class="form-group mb-3">
		<input style="display: none" asp-for="UserId">
		<input style="display: none" asp-for="BuyerId">
		<input style="display: none" asp-for="CurrentValue">
		<input style="display: none;" class="form-control" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddThh:mm")">
		<input style="display:none;" asp-for="Id">
		<input style="display: none" asp-for="StartValue">
		<label for="Name" class="form-label d-flex">Lot name:</label>
		<input style="width: 300px" class="form-control" id="Name" placeholder="Example: 10th century ring" asp-for="Name">
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group mb-3">
		<label for="Desc" class="form-label d-flex">Description:</label>
		<textarea class="form-control" style="width: 500px" id="Desc" asp-for="Desc" placeholder="Your description"></textarea>
		<span asp-validation-for="Desc" class="text-danger"></span>
	</div>
	<div class="form-group mb-3">
		<label for="City" class="form-label d-flex">Your city:</label>
		<select style="width: 220px" id="City" class="form-control select-input placeholder-active active" asp-for="City" required>
			<option value="Kiev">Kyiv</option>
			<option value="Kharkov">Kharkov</option>
			<option value="Odessa">Odessa</option>
			<option value="Lvov">Lvov</option>
			<option value="Donetsk">Donetsk</option>
			<option value="Zaporozhye">Zaporozhye</option>
			<option value="Nikolaev">Nikolaev</option>
			<option value="Sevastopol">Sevastopol</option>
			<option value="Mariupol">Mariupol</option>
			<option value="Lugansk">Lugansk</option>
			<option value="Vinnytsa">Vinnytsa</option>
			<option value="Simferopol">Simferopol</option>
			<option value="Herson">Herson</option>
			<option value="Chernigov">Chernigov</option>
			<option value="Poltava">Poltava</option>
			<option value="Cherkassy">Cherkassy</option>
			<option value="Hmelnitskiy">Hmelnitskiy</option>
			<option value="Chernovtsy">Chernovtsy</option>
			<option value="Zhytomyr">Zhytomyr</option>
			<option value="Sumy">Sumy</option>
			<option value="Rovno">Rovno</option>
			<option value="Ivano-Frankovsk">Ivano-Frankovsk</option>
			<option value="Kropivnytsky">Kropivnytsky</option>
			<option value="Ternopol">Ternopol</option>
			<option value="Kremenchug">Kremenchug</option>
			<option value="Lutsk">Lutsk</option>
			<option value="Kramatorsk">Kramatorsk</option>
			<option value="Melitopol">Melitopol</option>
			<option value="Uzhgorod">Uzhgorod</option>
		</select>
	</div>
	<div class="form-group mb-3">
		<label for="Upgrade" class="form-label d-flex">Minimum upgrade:</label>
		<input class="form-control" style="width: 100px" id="Upgrade"  min="1" max="1000000000" asp-for="MinUpgradeBet"/>
		<span asp-validation-for="MinUpgradeBet" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="finishDate">End date:</label>
		<input style="width: 220px" class="form-control" id="finishDate" min="@(DateTime.Now.AddHours(1).ToString("yyyy-MM-ddTHH:mm"))" max="@(DateTime.Now.AddDays(30).ToString("yyyy-MM-ddTHH:mm"))" asp-for="FinishDate">
		<span asp-validation-for="FinishDate" class="text-danger"></span>
	</div>
	<input type="submit" class="btn btn-sm btn-secondary mb-2 mt-3" value="Save" />
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}