﻿@using Microsoft.AspNetCore.Identity
@using System.Globalization
@model InternetAuction.Models.Lot
@inject UserManager<User> _userManager
@{
    ViewBag.Title = "Lot page";
    Layout = "_Layout";
    var currentUser = await _userManager.GetUserAsync(User);
    var timeNow = Convert.ToDateTime(DateTime.Now.ToString(CultureInfo.CurrentCulture));
}
<h6>End date: @Model.FinishDate.ToString("yyyy-MM-dd HH:mm")</h6>
<img style="width: 300px; height: 300px" src="@("/images/" + (Model.Img ?? "noimage.png"))" class="rounded-float-left" alt="no image"/>
<br/>
<h4>Lot name:</h4>
<p style="font-size: 36px; font-weight: bold">@Model.Name</p>
<br/>
<h4>Description:</h4>
<textarea style="width: 300px" class="form-control" disabled>@Model.Desc</textarea>
<br/>
<h4>Seller's city: @Model.City</h4>
<br/>
<h4>Start price:</h4>
<p class="form-control" style="width: max-content">@Model.StartValue</p>
<br/>
<h4>Current price:</h4>
<p class="form-control" style="width: max-content">@Model.CurrentValue</p>
<br/>
<h4>Minimum upgrade:</h4>
<p class="form-control" style="width: max-content">@Model.MinUpgradeBet</p>
<br/>
@if (Model.FinishDate > timeNow && Model.CurrentValue <= 1000000000)
{
    <form asp-controller="Lot" asp-action="UpgradeValue" asp-route-id="@Model.Id">
        <input required class="form-control" style="width: 169px" name="newBet" type="number" min="@(Model.CurrentValue + Model.MinUpgradeBet)" max="@(Int32.MaxValue - Model.CurrentValue)">
        <input style="display: none" type="text" name="buyerId" value="@currentUser.Id">
        <input type="submit" class="btn btn-sm btn-secondary mb-2 mt-3" value="Make bet">
    </form>
}