﻿@using System.Globalization
@model IEnumerable<InternetAuction.Models.Lot>

@{
    ViewBag.Title = "Lots to pay";
    Layout = "_Layout";
    var timeNow = Convert.ToDateTime(DateTime.Now.ToString(CultureInfo.CurrentCulture));
}
<h2>Your current bets</h2>
<table class="table">
    @foreach (var lot in Model.Where(i => i.FinishDate > timeNow))
    {
        <tr>
            <td>
                <div id="image" class="bg-light">
                        <a asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@("/images/" + (lot.Img ?? "noimage.png"))" alt="no image"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                        <span style="float: right; font-weight: bold; font-size: 24px" class="mr-3 ml-3 md-3 mt-3">$@lot.CurrentValue</span>
                    </div>
            </td>
        </tr>
    }
</table>
<h2>Your lots ready to pay</h2>
<table class="table">
    @foreach (var lot in Model.Where(i => i.FinishDate <= timeNow))
    {
        <tr>
            <td>
                <div id="image" class="bg-light">
                        <a asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@("/images/" + (lot.Img ?? "noimage.png"))" alt="no image"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                        <span style="float: right; font-weight: bold; font-size: 24px" class="mr-3 ml-3 md-3 mt-3">$@lot.CurrentValue</span>
                    </div>
            </td>
            <td>
                <form method="post" asp-action="Pay" asp-controller="Lot" asp-route-id="@lot.Id">
                    <input class="btn btn-sm btn-primary" type="submit" value="Pay" onclick="return confirm('Are you sure to pay for this lot?')"/>
                </form>
            </td>
        </tr>
    }
</table>
