@model IEnumerable<InternetAuction.Models.Lot>

@{
    ViewBag.Title = "Лоты к оплате";
    Layout = "_Layout";
}

<h2>Ваши лоты, ожидающие оплаты</h2>
<table class="table">
    @foreach (var lot in Model)
    {
        string imgSrc = "#";
        if (lot.Img != null)
        {
            var base64 = Convert.ToBase64String(lot.Img);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        }
        <tr>
            <td>
                <div id="image" class="bg-light">
                        <a asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@imgSrc" alt="Картинка отсутствует"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                        <span style="float: right; font-weight: bold; font-size: 24px" class="mr-3 ml-3 md-3 mt-3">$@lot.CurrentValue</span>
                    </div>
            </td>
            <td>
                <form>
                    <button type="submit" class="btn btn-sm btn-success">
                        Оплатить (оплата еще не реализована)
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
