﻿@using System.Globalization
@model IEnumerable<InternetAuction.Models.Lot>

@{
    ViewBag.Title = "Ваши лоты";
    Layout = "_Layout";
    var timeNow = Convert.ToDateTime(DateTime.Now.ToString(CultureInfo.CurrentCulture));
}

<h2>All your lots</h2>
<table class="table">
    @foreach (var lot in Model)
    {
        <tr>
            <td>
                <div id="image" class="bg-light">
                    @if (lot.FinishDate > timeNow)
                    {
                        <a asp-controller="Lot" asp-action="Edit" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@("/images/" + (lot.Img ?? "noimage.png"))" alt="Картинка отсутствует"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="Edit" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@("/images/" + (lot.Img ?? "noimage.png"))" alt="no image"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                    }
                    <span style="float: right; font-weight: bold; font-size: 24px" class="mr-3 ml-3 md-3 mt-3">$@lot.CurrentValue</span>
                    </div>
            </td>
            <td>
                <form asp-controller="Lot" asp-action="Delete" asp-route-id="@lot.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return(confirm('Do you want to delete this lot?'));">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
