﻿@using Microsoft.AspNetCore.Identity
@model List<InternetAuction.Models.Lot>
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var isInRole = false;
    if (_signInManager.IsSignedIn(User))
    {
        var currentUser = await _userManager.GetUserAsync(User);
        if (currentUser != null)
        {
            isInRole = await _userManager.IsInRoleAsync(currentUser, "master") || await _userManager.IsInRoleAsync(currentUser, "admin") || await _userManager.IsInRoleAsync(currentUser, "moderator");
        }
    }
}
<form asp-action="Index" method="get">
    <div class="form-group">
        <p>
            Search by name or city: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-sm btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<h2>All lots</h2>
<table class="table">
    @foreach (var lot in Model)
    {
        <tr>
            <td>
                <div id="image" class="bg-light">
                        <a asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id"><img style="width: 100px; height: 100px" class="mb-3 mt-3 mr-3 ml-3" src="@("/images/" + (lot.Img ?? "noimage.png"))" alt="no image"></a>
                        <a class="btn btn-light" style="font-size: 24px; font-weight: bold" asp-controller="Lot" asp-action="LotPage" asp-route-id="@lot.Id">
                            <span>@lot.Name</span>
                        </a>
                        <span style="float: right; font-weight: bold; font-size: 24px" class="mr-3 ml-3 md-3 mt-3">$@lot.CurrentValue</span>
                    </div>
            </td>
            @if (isInRole)
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Lot" asp-action="Edit" asp-route-id="@lot.Id">Edit</a>
                </td>
                <td>
                    <form asp-controller="Lot" asp-action="Delete" asp-route-id="@lot.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return(confirm('Do you want to delete this lot?'));">
                            Delete
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>
