﻿@model IEnumerable<InternetAuction.Models.User>
@{
    ViewBag.Title = "Users list";
}
 
<a asp-action="Create">Add new user</a>
 
<table class="table">
    <tr><th>Login</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>