﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@inject ApplicationContext _db
<ul class="navbar-nav">
    @if(_signInManager.IsSignedIn(User))
    {
        var currentUser = await _userManager.GetUserAsync(User);
        var role = await _userManager.GetRolesAsync(currentUser);
        var userLotsCount = _db.Lots.Count(i => i.UserId == currentUser.Id);
        var buyerLotsCount = _db.Lots.Count(i => i.BuyerId == currentUser.Id);
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My account
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-controller="Home" asp-action="UserPage">Profile settings</a>
                @if (role.Contains("master"))
                {
                    <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Roles settings</a>
                }
                @if (role.Contains("master") || role.Contains("admin"))
                {
                    <a class="dropdown-item" asp-controller="Users" asp-action="Index">Users settings</a>
                }
                <a class="dropdown-item" asp-controller="Lot" asp-action="UserLots">
                    My lots
                    <span class="btn btn-sm btn-danger" style="width: max-content;">
                        @userLotsCount
                    </span>
                </a>
                <a class="dropdown-item" asp-controller="Lot" asp-action="LotsToBuy">
                    My bets
                    <span class="btn btn-sm btn-danger" style="width: max-content;">
                        @buyerLotsCount
                    </span>
                </a>
            </div>
              </li>
     
        <li class="nav-item">
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="btn btn-sm btn-danger" type="submit" value="Logout" />
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a style="margin-right: 5px" class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>

